.Background{
    width: 100%;
    background: palevioletred;
    display: flex;
    height: 80px;  
    margin-bottom: 20px;
    align-items: center;
    justify-content: center; 
}
#filed{
 width:50%;
 margin: 10px;
 background: white;
 box-shadow: 2px;  
 border-radius: 7px; 
}
.GridView{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}