* {
  padding: 0;
  margin: 0;
}
.Background {
  width: 100%;
  background:black;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  button{
    margin-top:8px;
    height: 30px;;
  }
}
.Lable_user_categories{
  background: black;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  padding-top:30px;
  -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    
    text-shadow: rgba(255,255,255,0.5) 0px 3px 7px;
    background: black;

}
.marquee:hover {
  animation-play-state: paused
}

@keyframes scroll{
  0% {left:800px;}
  100% {left:-800px;}
  }
#div1{
  height: wrap;
  background:black;
  justify-content: center;
  text-align: center;
  button {
    margin: 5px;
    position: relative;
    height: 30px;
  }
}

#filed {
  width: 100%;
  margin: 10px;
  background: white;
  box-shadow: 2px;
  border-radius: 7px;
}
#deletion{
  float: right;
  margin: 10px;
  
}
#rename{
  float: right;
  margin: 10px;
}
#List_app_bar{
  background: black;
}
#listView{
  margin-top: 50px;
}
#typohy{
  flex: 1;
}
#ListMovies{
  position: relative;
  background: black;
  color:wheat;
}
.GridView {
  width: wrap;
  height: 100%;
  background:black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}
#Home_Page_appbar{
  background: #4A4238;
}
.image-container {
  height: 270px;
  width: 200px;
  display: inline-block;
  background: tomato;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 17px;
}
.flex-container {
  padding-left: 8%;
  div {
    display: inline-block;
  }
  .Card {
    p {
      height: 100px;
      overflow: hidden;
    }
    h2 {
      height: 100px;
      overflow: hidden;
    }
  }
}
.Card {
  max-width: 290px;
  height: 500px;
  margin: 1em;
}
button {
  margin-bottom: 100px;
}
.the_top_movies {
  display: flex;
  height: wrap;
  overflow-x: auto;
  align-content: center;
  flex-wrap: nowrap;
  background: black;
  color: white;
  .Card {
    display: block;
    min-width: 290px;
    height: 500px;
    margin: 1em;
    
    box-shadow: 0px 10px 20px rgba(200,200,50,0.2);
    p {
      height: 100px;
      overflow: hidden;
    }
    h2 {
      height: 100px;
      overflow: hidden;
    }
  }
}
.MuiCard-root-157 {
  overflow: auto;
}
.info_modal{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 2;
    width: 50vw;
    background : #9C92A3;
}
.modal_container{
  margin-top: 15vh;
  display: flex;
  background: black;
  justify-content: center;
  align-content: center;
  align-self: auto;
    img{
      width: 20vw;
      height:inherit;
    }

}
.full_screen{
  width: 100%;
  height: 100%;
  background: black;
}
#myappbar{
  background: black !important;
  position: relative !important;

}
.MuiToolbar-root-53,.MuiToolbar-regular-55, .MuiToolbar-gutters-54 {
  background: black !important;
  position: relative !important;
}
.MuiTypography-root-82, .MuiTypography-title-88, .MuiTypography-colorInherit-102{
  flex:1;
}
.MuiList-root-108, .MuiList-padding-109{
  margin-top: 50px;
}
#differs{
  font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 618px) {
  .GridView {
    width: wrap;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

@media screen and (max-width: 600) {
  .GridView {
    width: wrap;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}
